<header-component title="Mon compte" color=""></header-component>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-card>
        <ion-item color="tertiary" lines="none">
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            <h3>{{infoCompte?.numero}}</h3>
        </ion-item>
        <ion-item color="tertiary" lines="none">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Solde crédit</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{infoCompte?.soldeCredit}} AR
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Solde Mobile Money</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{infoCompte?.soldeMM}} AR
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-card>

    <ion-list>
        <ion-list-header>
            Forfaits en cours
        </ion-list-header>

        <ion-list *ngFor="let item of dataForfaits" lines="none">
            <ion-list-header>
                <ion-label>
                    <h1>{{item.forfait.nomForfait}}</h1>
                    <h3>Date d'achat : {{item.dateAchatForfait}}</h3>
                    <h3>Date d'expiration : {{item.expiration}}</h3>
                </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let temp of item.forfait.desc">
                <ion-icon [name]="getIconName(temp.nom)" slot="start"></ion-icon>
                <ion-label>
                    <h2>{{temp.nom}} : {{temp.restant}}</h2>
                </ion-label>
            </ion-item>
        </ion-list>

    </ion-list>
</ion-content>