<header-component title="A propos" color=""></header-component>

<ion-content>
  <h3>Cette application a été réalisé par</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent">
          <p>ETU : 984 </p>
          <p>NOM : MONG SANAHARISOA </p>
          <p>PRENOM : Adrian Jeffrey </p>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent">
          <p>ETU : 966 </p>
          <p>NOM : ANDRIAMAHATONY </p>
          <p>PRENOM : Harena Tiavina </p>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>