<header-component title="Accueil" color=""></header-component>

<ion-content>
    <ion-card>
        <ion-item color="dark" lines="none">
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            <ion-label>
                Votre numéro
            </ion-label>
        </ion-item>
        <ion-item color="dark" lines="full" >
            <h5>
                0321245678
            </h5>
      </ion-item>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <card-component text="Achat crédit" color="dark"></card-component>
            </ion-col>
            <ion-col>
                <card-component text="Forfait" color="dark" link="/forfait"></card-component>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-item-divider>
                <ion-label>
                  Historique
                </ion-label>
            </ion-item-divider>
            <ion-col>
                <card-component text="Appel"></card-component>
            </ion-col>
            <ion-col>
                <card-component text="SMS"></card-component>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <card-component text="Data"></card-component>
            </ion-col>
            <ion-col>
                <card-component text="Achat forfait"></card-component>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <card-component text="Transaction"></card-component>
            </ion-col>
        </ion-row>
    </ion-grid>

    <fab-component></fab-component>

</ion-content>  