<headerback-component title="Forfait" link="/"></headerback-component>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
        Offres
    </ion-list-header>

    <ion-item *ngFor="let item of typeForfait" button (click)="forfaitByType(item.idTypeForfait)">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label>
              <h2>{{item.description}}</h2>
        </ion-label>
    </ion-item>

  </ion-list>
</ion-content>